
body{
   background-color: #f1f1f1;
}
.cardbg{
   background-color: blue;
}
.head{
 padding-left: 660px;
}
.headbg{
   background-color: #06f;

}
.footbg{
   background-color: #ddd;
}
.ftbg {
   background-color: #ddd;
}
